/* Style reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}



/* Styles start here */

html,body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

area:hover{
  background-color: purple;
}

#imgCont {
  display: flex;
  justify-content: center;
  margin-top: 0.5vw;
  background-color: black;
}

body{
  background-color: black;
}

img{
  opacity: 1;
  width: 99%;
}

#coordinates{
  color: white;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color:black;
    color: #FFCB05;
    font-size: 1.25vw;
    box-shadow: 0 0.1vw 0.5vw rgba(243, 7, 7);
}

.navlinks {
    height: 2vw;
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.navlinks li:hover {
    font-size: 1.4vw;
    opacity: 0.5;
}

/* NavBar Logo top left*/

.logoContainer{
    position: relative;
}

.logoContainer>* {
    display: inline-block;
    height: 2vw;
}

.logoImg{
    width: 3vw;
}

.logoContainer div{
    font-weight: 900;
    position: absolute;
    top: 20%;
}